{% use 'form_div_layout.html.twig' %}

{% block form_row %}
    {% set row_attr = row_attr|merge({
        class: ('app-row ' ~ (row_attr.class|default('')))|tailwind_merge,
    }) %}

    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        {{ form_help(form) }}
    </div>
{% endblock %}

{% block form_widget_simple %}
    {% set type = type|default('text') %}
    {% set attr = attr|merge({
        class: ('app-input ' ~ (attr.class|default('')))|tailwind_merge,
    }) %}

    <input type="{{ type }}" {{ block('widget_attributes') }}{% if value is not empty %} value="{{ value }}"{% endif %}>
{% endblock %}

{% block textarea_widget %}
    {% set attr = attr|merge({
        class: ('app-textarea ' ~ (attr.class|default('')))|tailwind_merge,
    }) %}

    {{ parent() }}
{% endblock %}

{% block choice_widget_collapsed %}
    {% set attr = attr|merge({
        class: ('app-select ' ~ (attr.class|default('')))|tailwind_merge,
    }) %}

    {{ parent() }}
{% endblock %}

{% block checkbox_widget %}
    {% set attr = attr|merge({
        class: ('app-checkbox ' ~ (attr.class|default('')))|tailwind_merge,
    }) %}

    {{ parent() }}
{% endblock %}

{% block form_errors %}
    {% if errors|length > 0 %}
        <ul class="app-errors">
            {% for error in errors %}
                <li class="app-error-item">
                    {{- error.message -}}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
