{{ form_errors(form) }}

{{ form_start(form, {attr: {class: 'space-y-4'}}) }}

    <div class="app-form-grid-2 mb-0">
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
    </div>
    <div class="app-form-grid-2 mb-0">
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
    </div>
    {{ form_row(form.avatar) }}
    {{ form_row(form.location) }}
    {{ form_row(form.level) }}
    {{ form_row(form.instagram) }}
    {{ form_row(form.description) }}

    <twig:Button type="submit">
        {{- 'update.label'|trans -}}
    </twig:Button>
{{ form_end(form) }}
