<div class="app-row flex gap-2" title="{{ 'period.from.help'|trans }}">
    {{ form_label(period.from) }}
    {{ form_widget(period.from) }}
</div>
<div class="app-row flex gap-2" title="{{ 'period.to.help'|trans }}">
    {{ form_label(period.to) }}
    {{ form_widget(period.to) }}
</div>

