{% props form %}

{{ form_start(form, {attr: {
    class: 'flex flex-col md:flex-row gap-4 mb-4',
    'data-controller': 'auto-submit',
    'data-auto-submit-delay-value': 300,
    'data-action': 'input->auto-submit#submit change->auto-submit#submit',
    'data-turbo-frame': 'surf_session_results',
}}) }}
    <twig:Form:Query :query="form.query" />
    <div class="flex gap-2" title="{{ 'start_at_from.help'|trans }}">
        {{ form_label(form.startAtFrom) }}
        {{ form_widget(form.startAtFrom) }}
    </div>
    <div class="flex gap-2" title="{{ 'end_at_to.help'|trans }}">
        {{ form_label(form.endAtTo) }}
        {{ form_widget(form.endAtTo) }}
    </div>
{{ form_end(form) }}
