{# @prop surf_session SurfSessionIndexReadModel The surf session to display #}
{# @prop compact bool Whether to display the card in compact mode, default to `false` #}
{%- props surf_session, compact = false -%}

<twig:Card id="surf_session_{{ surf_session.id }}" class="flex h-full flex-col">
    <twig:Card:Header>
        <twig:Card:Title>
            <div class="flex items-center gap-2">
                <h3 class="heading-3 mt-0">
                    {{- surf_session.spot -}}
                </h3>
                {% if surf_session.rating is not null %}
                    <twig:Badge variant="{{ surf_session.rating.color }}">
                         {{- surf_session.rating.label|trans -}}
                    </twig:Badge>
                {% endif %}
            </div>
        </twig:Card:Title>
        {% if surf_session.tripId and not compact %}
            <twig:Card:Description>
                <twig:Button
                    as="a"
                    variant="link"
                    class="p-0"
                    href="{{ path('app.trip.show', {id: surf_session.tripId, slug: surf_session.tripTitle|slug|lower}) }}"
                    title="{{ 'trip.show.label'|trans }}"
                    data-turbo-frame="_top"
                >
                    {{- surf_session.tripTitle -}}
                </twig:Button>
            </twig:Card:Description>
        {% endif %}
    </twig:Card:Header>
    <twig:Card:Content class="space-y-2">
        <twig:SurfSession:Card:Field
            label="surf_session.date.label"
            icon="lucide:calendar-1"
            value="{{ surf_session.startAt|format_datetime(pattern: 'dd MMM yyyy HH:mm') ~ ' - ' ~ surf_session.endAt|date('H:i') }}"
        />
        <twig:SurfSession:Card:Field
            label="surf_session.board.label"
            icon="boxicons:surfboard-filled"
            value="{{ surf_session.board }}"
        />
        <twig:SurfSession:Card:Field
            label="surf_session.objective.label"
            icon="lucide:goal"
            value="{{ surf_session.objective ? surf_session.objective|u.truncate(120, '...', false) : null }}"
        />
        <twig:SurfSession:Card:Field
            value="{{ surf_session.comment ? surf_session.comment|u.truncate(120, '...', false) : null }}"
        />
    </twig:Card:Content>
    <twig:Card:Footer class="mt-auto">
        <twig:Button:Edit
            href="{{ path('app.surf_session.edit', {id: surf_session.id}) }}"
            data-turbo-frame="_top"
        />
    </twig:Card:Footer>
</twig:Card>
