<twig:Card class="flex h-full flex-col">
    <twig:Card:Header>
        <twig:Card:Title>
            <div class="flex items-center gap-2">
                <h3 class="heading-3 mt-0">
                    {{- session.spot -}}
                </h3>
                {% if session.rating is not null %}
                    <twig:Badge variant="{{ session.rating.color }}">
                         {{- session.rating.label|trans -}}
                    </twig:Badge>
                {% endif %}
            </div>
        </twig:Card:Title>
    </twig:Card:Header>
    <twig:Card:Content class="space-y-2">
        <twig:SurfSession:Card:Field
            label="surf_session.date.label"
            icon="lucide:calendar-1"
            value="{{ session.startAt|format_datetime(pattern: 'dd MMM yyyy HH:mm') ~ ' - ' ~ session.endAt|date('H:i') }}"
        />
        <twig:SurfSession:Card:Field
            label="surf_session.board.label"
            icon="boxicons:surfboard-filled"
            value="{{ session.board }}"
        />
        <twig:SurfSession:Card:Field
            label="surf_session.objective.label"
            icon="lucide:goal"
            value="{{ session.objective ? session.objective|u.truncate(120, '...', false) : null }}"
        />
        <twig:SurfSession:Card:Field
            value="{{ session.comment ? session.comment|u.truncate(120, '...', false) : null }}"
        />
    </twig:Card:Content>
    <twig:Card:Footer class="mt-auto">
        <twig:Button:Edit href="{{ path('app.surf_session.edit', {id: session.id}) }}"/>
    </twig:Card:Footer>
</twig:Card>
