{{ form_start(form, {attr: {
    class: 'mb-4',
}}) }}
    {{ form_row(form.title) }}
    {{ form_row(form.location) }}
    <div class="app-form-grid-2">
        {{ form_row(form.startAt) }}
        {{ form_row(form.endAt) }}
    </div>
    {{ form_row(form.requiredLevels) }}
    {{ form_row(form.description) }}
    {% if form.owners is defined %}
        {{ form_row(form.owners) }}
    {% endif %}
    {{ form_rest(form) }}

    <twig:Button:Save />
{{ form_end(form) }}
