{%- props trip, max = 5 -%}
{%- set owners_count = trip.owners|length -%}

<twig:Avatar:Group>
    {% for owner in trip.owners|slice(0, max) %}
        <twig:Tooltip id="trip_{{ trip.id }}_owner_{{ owner.id }}">
            <twig:Tooltip:Trigger>
                <twig:Avatar :user="owner" size="sm" {{ ...tooltip_trigger_attrs }} aria-label="{{ owner.fullName }}" />
            </twig:Tooltip:Trigger>
            <twig:Tooltip:Content side="bottom">
                <p>{{ owner.fullName }}</p>
            </twig:Tooltip:Content>
        </twig:Tooltip>
    {% endfor %}
    {% if owners_count > max %}
        <twig:Avatar:GroupCount>
            +{{- owners_count - max }}
        </twig:Avatar:GroupCount>
    {% endif %}
</twig:Avatar:Group>
