<twig:Table>
    <thead>
        <tr>
            {% for header in headers %}
                <th {% if header.2 is defined %}class="{{ header.2 }}"{% endif %}>
                    {% if header is iterable %}
                        <twig:Table:SortableHeadLink label="{{ header.0 }}" name="{{ header.1 }}" />
                    {% else %}
                        {{- header -}}
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
            <tr>
                {% for cell in row %}
                    <td>
                        {%- if cell?.component is defined -%}
                            {{- component(cell.component, cell.context|default({})) -}}
                        {%- elseif cell is iterable -%}
                            {{- cell|join(', ') -}}
                        {%- else -%}
                            {{- cell -}}
                        {%- endif -%}
                    </td>
                {% endfor %}
            </tr>
        {% else %}
            <tr>
                <td colspan="{{ headers|length }}">
                    {{- empty_message|trans -}}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</twig:Table>
