{% set current_route_parameters = app.current_route_parameters|default({}) %}

<header>
     <nav class="app-header-nav" aria-label="{{ 'navigation.main.label'|trans }}">
        <div class="app-header-container">
            <button
                class="app-header-toggle"
                type="button"
                data-twe-collapse-init
                data-twe-target="#main_navbar"
                aria-controls="main_navbar"
                aria-expanded="false"
                aria-label="{{ 'navigation.toggle.label'|trans }}"
            >
                <twig:ux:icon name="lucide:menu" height="1.5em" width="1.5em" />
            </button>

            <a class="app-header-brand" href="/">
                {{- 'app_name'|trans -}}
            </a>

            <div class="app-header-menu" id="main_navbar">
                <ul class="flex">
                    <twig:Header:NavLink label="trips.label" route="app.trip.index" />
                    <twig:Header:NavLink label="trip.new.label" route="app.trip.new" />
                </ul>
            </div>

            <div class="flex items-center gap-2">
                <div class="flex items-center" aria-label="{{ 'language.switch.label'|trans }}">
                    <twig:Button as="a"
                        variant="link"
                        class="p-1"
                        href="{{ path(app.current_route, current_route_parameters|merge({_locale: 'fr'})) }}"
                        title="{{ 'language.fr.label'|trans }}"
                    >
                        <twig:ux:icon name="circle-flags:lang-fr" />
                    </twig:Button>
                    <span>/</span>
                    <twig:Button as="a"
                        variant="link"
                        class="p-1"
                        href="{{ path(app.current_route, current_route_parameters|merge({_locale: 'en'})) }}"
                        title="{{ 'language.en.label'|trans }}"
                    >
                        <twig:ux:icon name="circle-flags:lang-en" />
                    </twig:Button>
                </div>
                <twig:Header:DarkModeSwitch />
            </div>
        </div>
    </nav>
</header>
